In [1]:
import pandas as pd

In [2]:
FN_LN_SIN_GNDR_DoB = pd.read_csv(r'C:\Users\samwa\OneDrive - Metrolinx\!P\LnkdN\AI & ML\pandas Essential Training\DATA\OMERS_VS_HCM\2_FN_LN_SIN_GNDR_DoB.csv')

In [3]:
FN_LN_SIN_GNDR_DoB

,Employee ID,Last Name,First Name,Middle Name,Social Insurance Number (SIN),Department ID,Gender,Date of Birth,Has the employee signed Form 132: Authorization for Disclosure of Personal Information?,Has this employee joined your organization as a result of a divestment?,...,Unnamed: 234,Unnamed: 235,Unnamed: 236,Unnamed: 237,Unnamed: 238,Unnamed: 239,Unnamed: 240,Unnamed: 241,Unnamed: 242,Unnamed: 243
0,313.0,De Gasperin,Linda,NaN,469 498 927,NaN,F,28-Jan-1960,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,339.0,McKinnon,Roselea,NaN,114 520 950,NaN,F,2-May-1956,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,808.0,O'Leary,James,T,457 743 946,NaN,M,9-Feb-1956,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,891.0,Reid,Irene,NaN,475 564 076,NaN,F,8-Oct-1965,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,974.0,Taylor,Suzanne,E,467 922 373,NaN,F,18-Jan-1961,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6613,75900.0,Donahoe,Robert,Anthony,497 478 479,NaN,M,23-Aug-1976,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6614,75924.0,Elimimian,Henry,NaN,150 134 310,NaN,M,3-Jul-1987,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6615,75926.0,Van Schubert,Kevin,John,494 367 568,NaN,M,12-Nov-1971,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6616,75964.0,Murtuza,Humzah,NaN,537 505 398,NaN,M,20-Nov-2000,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
FN_LN_SIN_GNDR_DoB.head()

,Employee ID,Last Name,First Name,Middle Name,Social Insurance Number (SIN),Department ID,Gender,Date of Birth,Has the employee signed Form 132: Authorization for Disclosure of Personal Information?,Has this employee joined your organization as a result of a divestment?,...,Unnamed: 234,Unnamed: 235,Unnamed: 236,Unnamed: 237,Unnamed: 238,Unnamed: 239,Unnamed: 240,Unnamed: 241,Unnamed: 242,Unnamed: 243
0,313.0,De Gasperin,Linda,NaN,469 498 927,NaN,F,28-Jan-1960,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,339.0,McKinnon,Roselea,NaN,114 520 950,NaN,F,2-May-1956,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,808.0,O'Leary,James,T,457 743 946,NaN,M,9-Feb-1956,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,891.0,Reid,Irene,NaN,475 564 076,NaN,F,8-Oct-1965,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,974.0,Taylor,Suzanne,E,467 922 373,NaN,F,18-Jan-1961,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
FN_LN_SIN_GNDR_DoB.shape

(6618, 244)

In [6]:
FN_LN_SIN_GNDR_DoB.shape[0]

6618

In [7]:
FN_LN_SIN_GNDR_DoB.shape[1]

244

In [8]:
FN_LN_SIN_GNDR_DoB.head(10)

,Employee ID,Last Name,First Name,Middle Name,Social Insurance Number (SIN),Department ID,Gender,Date of Birth,Has the employee signed Form 132: Authorization for Disclosure of Personal Information?,Has this employee joined your organization as a result of a divestment?,...,Unnamed: 234,Unnamed: 235,Unnamed: 236,Unnamed: 237,Unnamed: 238,Unnamed: 239,Unnamed: 240,Unnamed: 241,Unnamed: 242,Unnamed: 243
0,313.0,De Gasperin,Linda,NaN,469 498 927,NaN,F,28-Jan-1960,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,339.0,McKinnon,Roselea,NaN,114 520 950,NaN,F,2-May-1956,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,808.0,O'Leary,James,T,457 743 946,NaN,M,9-Feb-1956,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,891.0,Reid,Irene,NaN,475 564 076,NaN,F,8-Oct-1965,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,974.0,Taylor,Suzanne,E,467 922 373,NaN,F,18-Jan-1961,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1026.0,Mantua,Joao,NaN,443 918 073,NaN,M,29-Jul-1953,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1061.0,Di Maio,Emilio,NaN,480 033 273,NaN,M,22-Feb-1965,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1189.0,DeLellis,Maria,NaN,482 385 952,NaN,F,3-Jun-1966,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1236.0,Buttu,Nancy,NaN,483 099 537,NaN,F,6-Mar-1968,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1248.0,Johnson,Peter,NaN,484 030 580,NaN,M,1-Apr-1966,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
FN_LN_SIN_GNDR_DoB.tail(10)

,Employee ID,Last Name,First Name,Middle Name,Social Insurance Number (SIN),Department ID,Gender,Date of Birth,Has the employee signed Form 132: Authorization for Disclosure of Personal Information?,Has this employee joined your organization as a result of a divestment?,...,Unnamed: 234,Unnamed: 235,Unnamed: 236,Unnamed: 237,Unnamed: 238,Unnamed: 239,Unnamed: 240,Unnamed: 241,Unnamed: 242,Unnamed: 243
6608,75849.0,Kartzali,Nicholas,James,514 437 938,NaN,M,3-Mar-1981,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6609,75852.0,Ulm,Pauline,A J,150 891 125,NaN,F,3-Mar-1988,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6610,75853.0,Bandoo,Adeeta,Marie,565 238 714,NaN,F,22-Apr-1983,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6611,75854.0,Lee,Michael,Chung,522 284 124,NaN,M,18-Jun-1990,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6612,75880.0,O'Leary,Ethan,Wade,538 970 765,NaN,M,10-Sep-1999,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6613,75900.0,Donahoe,Robert,Anthony,497 478 479,NaN,M,23-Aug-1976,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6614,75924.0,Elimimian,Henry,NaN,150 134 310,NaN,M,3-Jul-1987,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6615,75926.0,Van Schubert,Kevin,John,494 367 568,NaN,M,12-Nov-1971,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6616,75964.0,Murtuza,Humzah,NaN,537 505 398,NaN,M,20-Nov-2000,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
FN_LN_SIN_GNDR_DoB.head().shape

(5, 244)

In [11]:
FN_LN_SIN_GNDR_DoB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6618 entries, 0 to 6617
Columns: 244 entries, Employee ID to Unnamed: 243
dtypes: float64(227), object(17)
memory usage: 12.3+ MB

In [12]:
FN_LN_SIN_GNDR_DoB.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6618 entries, 0 to 6617
Data columns (total 244 columns):
 #    Column                                                                                     Non-Null Count  Dtype
---   ------                                                                                     --------------  -----
 0    Employee ID                                                                                6617 non-null   float64
 1    Last Name                                                                                  6617 non-null   object
 2    First Name                                                                                 6617 non-null   object
 3    Middle Name                                                                                2128 non-null   object
 4    Social Insurance Number (SIN)                                                              6615 non-null   object
 5    Department ID                                                                              0 non-null      float64
 6    Gender                                                                                     6617 non-null   object
 7    Date of Birth                                                                              6617 non-null   object
 8    Has the employee signed Form 132: Authorization for Disclosure of Personal Information?    6617 non-null   object
 9    Has this employee joined your organization as a result of a divestment?                    6617 non-null   object
 10   Occupation                                                                                 6617 non-null   object
 11   Member's Affiliation                                                                       6617 non-null   object
 12   NRA                                                                                        6617 non-null   object
 13   Employment Status                                                                          6617 non-null   object
 14   Enrollment Reason                                                                          6617 non-null   object
 15   Hire Date                                                                                  6617 non-null   object
 16   Election Date                                                                              0 non-null      float64
 17   Enrolment Date                                                                             6617 non-null   object
 18   Salary Type                                                                                6617 non-null   object
 19   Annualized Salary                                                                          6617 non-null   object
 20   Unnamed: 20                                                                                0 non-null      float64
 21   Unnamed: 21                                                                                0 non-null      float64
 22   Unnamed: 22                                                                                0 non-null      float64
 23   Unnamed: 23                                                                                0 non-null      float64
 24   Unnamed: 24                                                                                0 non-null      float64
 25   Unnamed: 25                                                                                0 non-null      float64
 26   Unnamed: 26                                                                                0 non-null      float64
 27   Unnamed: 27                                                                                0 non-null      float64
 28   Unnamed: 28                                                                                0 non-null      float64
 29   Unnamed: 29                                                                                0 non-null      float64
 30   Unnamed: 30                                                                                0 non-null      float64
 31   Unnamed: 31                                                                                0 non-null      float64
 32   Unnamed: 32                                                                                0 non-null      float64
 33   Unnamed: 33                                                                                0 non-null      float64
 34   Unnamed: 34                                                                                0 non-null      float64
 35   Unnamed: 35                                                                                0 non-null      float64
 36   Unnamed: 36                                                                                0 non-null      float64
 37   Unnamed: 37                                                                                0 non-null      float64
 38   Unnamed: 38                                                                                0 non-null      float64
 39   Unnamed: 39                                                                                0 non-null      float64
 40   Unnamed: 40                                                                                0 non-null      float64
 41   Unnamed: 41                                                                                0 non-null      float64
 42   Unnamed: 42                                                                                0 non-null      float64
 43   Unnamed: 43                                                                                0 non-null      float64
 44   Unnamed: 44                                                                                0 non-null      float64
 45   Unnamed: 45                                                                                0 non-null      float64
 46   Unnamed: 46                                                                                0 non-null      float64
 47   Unnamed: 47                                                                                0 non-null      float64
 48   Unnamed: 48                                                                                0 non-null      float64
 49   Unnamed: 49                                                                                0 non-null      float64
 50   Unnamed: 50                                                                                0 non-null      float64
 51   Unnamed: 51                                                                                0 non-null      float64
 52   Unnamed: 52                                                                                0 non-null      float64
 53   Unnamed: 53                                                                                0 non-null      float64
 54   Unnamed: 54                                                                                0 non-null      float64
 55   Unnamed: 55                                                                                0 non-null      float64
 56   Unnamed: 56                                                                                0 non-null      float64
 57   Unnamed: 57                                                                                0 non-null      float64
 58   Unnamed: 58                                                                                0 non-null      float64
 59   Unnamed: 59                                                                                0 non-null      float64
 60   Unnamed: 60                                                                                0 non-null      float64
 61   Unnamed: 61                                                                                0 non-null      float64
 62   Unnamed: 62                                                                                0 non-null      float64
 63   Unnamed: 63                                                                                0 non-null      float64
 64   Unnamed: 64                                                                                0 non-null      float64
 65   Unnamed: 65                                                                                0 non-null      float64
 66   Unnamed: 66                                                                                0 non-null      float64
 67   Unnamed: 67                                                                                0 non-null      float64
 68   Unnamed: 68                                                                                0 non-null      float64
 69   Unnamed: 69                                                                                0 non-null      float64
 70   Unnamed: 70                                                                                0 non-null      float64
 71   Unnamed: 71                                                                                0 non-null      float64
 72   Unnamed: 72                                                                                0 non-null      float64
 73   Unnamed: 73                                                                                0 non-null      float64
 74   Unnamed: 74                                                                                0 non-null      float64
 75   Unnamed: 75                                                                                0 non-null      float64
 76   Unnamed: 76                                                                                0 non-null      float64
 77   Unnamed: 77                                                                                0 non-null      float64
 78   Unnamed: 78                                                                                0 non-null      float64
 79   Unnamed: 79                                                                                0 non-null      float64
 80   Unnamed: 80                                                                                0 non-null      float64
 81   Unnamed: 81                                                                                0 non-null      float64
 82   Unnamed: 82                                                                                0 non-null      float64
 83   Unnamed: 83                                                                                0 non-null      float64
 84   Unnamed: 84                                                                                0 non-null      float64
 85   Unnamed: 85                                                                                0 non-null      float64
 86   Unnamed: 86                                                                                0 non-null      float64
 87   Unnamed: 87                                                                                0 non-null      float64
 88   Unnamed: 88                                                                                0 non-null      float64
 89   Unnamed: 89                                                                                0 non-null      float64
 90   Unnamed: 90                                                                                0 non-null      float64
 91   Unnamed: 91                                                                                0 non-null      float64
 92   Unnamed: 92                                                                                0 non-null      float64
 93   Unnamed: 93                                                                                0 non-null      float64
 94   Unnamed: 94                                                                                0 non-null      float64
 95   Unnamed: 95                                                                                0 non-null      float64
 96   Unnamed: 96                                                                                0 non-null      float64
 97   Unnamed: 97                                                                                0 non-null      float64
 98   Unnamed: 98                                                                                0 non-null      float64
 99   Unnamed: 99                                                                                0 non-null      float64
 100  Unnamed: 100                                                                               0 non-null      float64
 101  Unnamed: 101                                                                               0 non-null      float64
 102  Unnamed: 102                                                                               0 non-null      float64
 103  Unnamed: 103                                                                               0 non-null      float64
 104  Unnamed: 104                                                                               0 non-null      float64
 105  Unnamed: 105                                                                               0 non-null      float64
 106  Unnamed: 106                                                                               0 non-null      float64
 107  Unnamed: 107                                                                               0 non-null      float64
 108  Unnamed: 108                                                                               0 non-null      float64
 109  Unnamed: 109                                                                               0 non-null      float64
 110  Unnamed: 110                                                                               0 non-null      float64
 111  Unnamed: 111                                                                               0 non-null      float64
 112  Unnamed: 112                                                                               0 non-null      float64
 113  Unnamed: 113                                                                               0 non-null      float64
 114  Unnamed: 114                                                                               0 non-null      float64
 115  Unnamed: 115                                                                               0 non-null      float64
 116  Unnamed: 116                                                                               0 non-null      float64
 117  Unnamed: 117                                                                               0 non-null      float64
 118  Unnamed: 118                                                                               0 non-null      float64
 119  Unnamed: 119                                                                               0 non-null      float64
 120  Unnamed: 120                                                                               0 non-null      float64
 121  Unnamed: 121                                                                               0 non-null      float64
 122  Unnamed: 122                                                                               0 non-null      float64
 123  Unnamed: 123                                                                               0 non-null      float64
 124  Unnamed: 124                                                                               0 non-null      float64
 125  Unnamed: 125                                                                               0 non-null      float64
 126  Unnamed: 126                                                                               0 non-null      float64
 127  Unnamed: 127                                                                               0 non-null      float64
 128  Unnamed: 128                                                                               0 non-null      float64
 129  Unnamed: 129                                                                               0 non-null      float64
 130  Unnamed: 130                                                                               0 non-null      float64
 131  Unnamed: 131                                                                               0 non-null      float64
 132  Unnamed: 132                                                                               0 non-null      float64
 133  Unnamed: 133                                                                               0 non-null      float64
 134  Unnamed: 134                                                                               0 non-null      float64
 135  Unnamed: 135                                                                               0 non-null      float64
 136  Unnamed: 136                                                                               0 non-null      float64
 137  Unnamed: 137                                                                               0 non-null      float64
 138  Unnamed: 138                                                                               0 non-null      float64
 139  Unnamed: 139                                                                               0 non-null      float64
 140  Unnamed: 140                                                                               0 non-null      float64
 141  Unnamed: 141                                                                               0 non-null      float64
 142  Unnamed: 142                                                                               0 non-null      float64
 143  Unnamed: 143                                                                               0 non-null      float64
 144  Unnamed: 144                                                                               0 non-null      float64
 145  Unnamed: 145                                                                               0 non-null      float64
 146  Unnamed: 146                                                                               0 non-null      float64
 147  Unnamed: 147                                                                               0 non-null      float64
 148  Unnamed: 148                                                                               0 non-null      float64
 149  Unnamed: 149                                                                               0 non-null      float64
 150  Unnamed: 150                                                                               0 non-null      float64
 151  Unnamed: 151                                                                               0 non-null      float64
 152  Unnamed: 152                                                                               0 non-null      float64
 153  Unnamed: 153                                                                               0 non-null      float64
 154  Unnamed: 154                                                                               0 non-null      float64
 155  Unnamed: 155                                                                               0 non-null      float64
 156  Unnamed: 156                                                                               0 non-null      float64
 157  Unnamed: 157                                                                               0 non-null      float64
 158  Unnamed: 158                                                                               0 non-null      float64
 159  Unnamed: 159                                                                               0 non-null      float64
 160  Unnamed: 160                                                                               0 non-null      float64
 161  Unnamed: 161                                                                               0 non-null      float64